
body{
    overflow-x: hidden;
    background-color: white;
}

.main-body{
    padding-top: 50px;
    padding-bottom: 5%;
}

/* Chaining the selector here allows us to override
bootstrap's default padding preferences. */
.navbar-expand-lg.custom-navbar{
    --bs-navbar-padding-x: 0.5rem;
    --bs-navbar-padding-y: 0.5rem;
}

.custom-navbar{
    background-color: rgb(156, 154, 141);
    color: white;   

}

.contact-bg{

    /* For center alignment */
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    /* Background stuff */
    padding: 0 20%; 
    /* background-image: url("./../img/UCI-SIGNAGE-1600x960-1.jpg"); */
    /* background: linear-gradient( rgb(85, 98, 99), rgb(44, 53, 52) ); */
    background: linear-gradient( rgb(99, 97, 85), rgb(53, 44, 44) );
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;

    color: white;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: -5px;
}

.contact-bg h1{
    font-weight: 900;
    font-size: 5vw;
}

.body-content{
    margin: 3% 25%;
}


.data-box-contact img{
    width: 10%;
}

.data-box-contact{
    padding: 1%;
    transition: 0.5s;
}

.data-box-contact:hover{
    transform: translateX(5px);
    background-color: rgba(156, 154, 141, 0.5);
}

.data-box-contact a{
    /* No text decoration because it overlaps with the image*/
    color:rgb(44, 53, 52);
    text-decoration: none;
}

.form-content h6{
    padding-top:1%;
}

.form-content textarea, input{
    width: 100%;
}

