
body{
    overflow-x: hidden;
    background-color: white;
}

.main-body{
    padding-top: 50px;
    padding-bottom: 5%;
}

/* Chaining the selector here allows us to override
bootstrap's default padding preferences. */
.navbar-expand-lg.custom-navbar{
    --bs-navbar-padding-x: 0.5rem;
    --bs-navbar-padding-y: 0.5rem;
}

.custom-navbar{
    background-color: rgb(141, 156, 148);
    color: white;   

}

.portfolio-bg{

    /* For center alignment */
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    /* Background stuff */
    padding: 0 20%; 
    /* background-image: url("./../img/UCI-SIGNAGE-1600x960-1.jpg"); */
    /* background: linear-gradient( rgb(85, 98, 99), rgb(44, 53, 52) ); */
    background: linear-gradient( rgb(85, 99, 86), rgb(44, 53, 46) );
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;

    color: white;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: -5px;
}

.portfolio-bg h1{
    font-weight: 900;
    font-size: 5vw;
}

.portfolio-content{
    margin: 5% 20%;
}

.portfolio-content h1{
    font-size: 3vw;
    font-weight: 600;
}

.portfolio-content img{
    width:100%;
}


i{
    font-size:5vw;
}

.tools{
    text-align: center;
}