
body{
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden; /* Hide vertical scrolling */
    background-color: white;
}

.main-body{
    padding-top: 50px;
}

/* Override bootstrap via ordering of CSS*/
.custom-navbar{
    --bs-navbar-padding-x: 0.5rem;
    --bs-navbar-padding-y: 0.5rem;
}

.navbar-toggler{
    border-color: transparent;
}

.navbar{
    --bs-navbar-toggler-focus-width: 0rem;
}

.banner-bg img{
    width: 80%;
    border-radius: 50%;
    transition: 0.25s;
}

.banner-bg img:hover{
    border-radius: 25%;
    width:90%;
}

.banner-bg{

    /* For center alignment */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Background stuff */
    padding: 0 20%; 
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;

    color: white;
}

.banner-bg h1{
    font-weight: 900;
    font-size: 4rem;
}

footer{
    padding: 1.5%;
    color: white;
    text-align: center;
}
